
.navbar {
    padding : 40px 15px;
    position : relative;
    inset: 0;
    z-index : 10;
    background-color: rgba($dark-color, $alpha: .5);
    border-bottom: 1px solid $white-color;

    & .navbar__inner {
        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        justify-content: space-between;

        & .navbar__left, 
        & .navbar__center,
        & .navbar__right {
            display: flex;
            align-items: center;
        }
        
        .navbar__logo {
            cursor: pointer;
        }

        .navbar__center a:not(:first-child, :last-child) {
            &:nth-child(2) {
                margin-right: 40px;
                margin-left: 30px;
            }

            &:nth-child(4) {
                margin-left: 40px;
                margin-right: 30px;
            }
        }
    }
}
