@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$font-main: 'Rubik', sans-serif;;
$white-color: #EDEDED;
$dark-color: #121212;
$gray-color: #A4A4A4;
$hover-purple-color: #5845A7;
$click-puple-color: #43347D;